/* put in quotes and add # at the beginning */
@font-face {
    font-family: 'MY';
    src: url('../ttf/NotoSansGujarati-Bold.ttf');
}
@media print {
    .printBtn{
        display: none;
    }
    body{
        padding: 0 !important;
    }
}

@page {
    size: A4 portrait;
    @bottom-left {
        content: counter(page) ' of ' counter(pages);
    }
    margin: 10mm 10mm 100mm 10mm;
}

* {
    font-family: 'MY' !important;
    box-sizing: border-box;
    margin: 0;
}

body{
    padding: 20px 50px;
}
.date {
    text-align: right;
    padding: 10px 0;
    padding-right: 100px;
}
.shree-div{
    text-align: center;
    padding: 30px 10px;
    font-size: 25px;
}
.shree-div span{
    width: 4px;
    border-radius: 1px;
    height: 16px;
    background-color: #000;
    display: inline-block;
    margin-left: 3px;
}
header {
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-bottom: 10px;
}
main {
    width: 1200px;
    margin: 0px auto;
    color: var(--text-color);
}
.fontSize{
    font-size: 20px;
}
.order-detail{
    display: grid;
    width: 100%;
    padding: 15px 0;
    margin: 0px auto 20px;
    border-bottom: 5px solid black;
    border-top: 5px solid black;
    grid-template-columns: repeat(14,2fr);
}

/*H3*/
.order-detail h3
{
    grid-column: 1/11;
}
/*Span :- Date*/
.order-detail span{
    grid-column: 11/15;
}
/*Item HEading*/
.order-detail p:nth-of-type(1){
    grid-column: 1/3;
}

/*Item List*/
.order-detail p:nth-of-type(2){
    grid-column: 3/13;
}

.order-div{
    display: block;
    width: 90%;
    overflow-x: hidden;
    padding: 10px 50px;
    page-break-inside: auto;
}
.order-div h1{
    margin-bottom: 20px;
    width: 80%;
    border-bottom: 2px solid;
    padding: 10px 0;
}
.main-div li{
    display: inline-block;
    width: 49%;
    font-size: 18px;
}
.main-div h1{
    width: 100%;
}
.main-div li span{
    font-size: 21px;
    width: 55%;
    display: inline-block;
    margin-right: 30px;
}
.main-div li span:nth-of-type(2){
    width: 30%;
    border-bottom: 1px solid #000;
    margin-right: 0px;
}
