{% extends "extendedTemplate.html" %}

{# update Form #}
{% block updateBox %}

    <form action="{% url 'inventory:update_category' %}" method="POST" id="formId">
        {% csrf_token %}
        <div id="updateField">

        </div>
        <input id="updateElementID" name="updateElementID" type="number" style="display:none;">

        <div class="form-element-box">
            <label for="#name" class="from-lable">Category Name</label>
            <div class="form-control">
                <input type="text" required class="from-element" name="name" id="name" placeholder="Enter Store Name">
            </div>
        </div>

        <input type="submit" class="button-remove button-style-1 submit-btn" value="Update">
        <button class="button-remove button-style-1 cancel-btn"> cancel</button>
    </form>

{% endblock %}


{# New Item Form #}
{% block newItemBox %}

    <h1>New {{ heading }}</h1>
    <form action="{% url 'inventory:new_category' %}" method="POST" id="formId">

        {% csrf_token %}

        <div class="form-element-box">
            <label for="#name" class="from-lable">Category Name</label>
            <div class="form-control">
                <input type="text" required class="from-element" name="name" id="name" placeholder="Enter Store Name">
            </div>
        </div>

        <input type="submit" class="button-remove button-style-1 submit-btn" value="Create">
        <button class="button-remove button-style-1 cancel-btn"> cancel</button>
    </form>

{% endblock %}