{% extends 'template.html' %}
{% load static %}
{% block heading %}
    {{ heading }} Order
{% endblock %}
{% block Main %}

    <!--
    <div id="detail-view" style="display: none">
        <section id="orderDetail-section1">
                <div class="order-detail">
                    <h3>Name :- </h3>
                    <p>{{ data.orderName }}</p>
                </div>
                <div class="order-detail">
                    <h3>Address:- </h3>
                    <p>{{ data.address }} </p>
                </div>
                <div class="order-detail">
                    <h3>Email :- </h3>
                    <p>{{ data.email }}</p>
                </div>
                <div class="order-detail">
                    <h3>Number :- </h3>
                    <p>{{ data.mobileNumber }}</p>
                </div>
                <div class="order-detail">
                    <h3>Order Data & time :- </h3>
                    <p>{{ data.deliverDate }}</p>
                </div>
                <div class="order-detail">
                    <h3>Number of Person</h3>
                    <p>{{ data.numerOfPerson }}</p>
                </div>
                <div class="section4">
                    <button class="button-remove  button-style-1 cancel-btn">
                        Print
                    </button>
                    <button id="editBtn" class="button-remove button-style-1">
                        Edit
                    </button>
                </div>
            </section>
        <section class="section2" id="section1">
                <h1>Item List</h1>
                <div class="item-list-box">

                    {% for dataItem,values in data.fields.items %}
                        <div class="item-box">
                        <h2 class="item-name">
                            {{ dataItem }}
                            <span class="arrow">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                    <path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z">
                                    </path>
                                </svg>
                            </span>
                        </h2>
                        <ul class="ingredient-list">
                            {% for it in values %}
                                {% for k,v in it.items %}
                                <li><span>{{ k }}</span> : {{ v }} Kg </li>
                                {% endfor %}
                            {% endfor %}

                        </ul>
                    </div>
                    {% endfor %}

                </div>
            </section>
    </div>
    -->
    <div id="edit-view">
        <section class="single-container">
            <form action="{% url 'inventory:orderNewCreate' %}" method="POST">
                {% csrf_token %}
                <input type="number" value="{{ orderID }}" name="orderID" style="display:none;">
                <div id="page1">
                    <div class="form-element-box">
                        <label for="#name" class="from-lable">Name :</label>
                        <div class="form-control">
                            <input type="text" required class="from-element " name="name" id="name"
                                placeholder="Enter Name" value="{{ data.name }}">
                        </div>
                    </div>
                    <div class="form-element-box">
                        <label for="#address" class="from-lable">Address :</label>
                        <div class="form-control">
                            <textarea name="address" id="address" rows="5" placeholder="Enter Address"
                                class="from-element" >{{ data.address }}
                            </textarea>
                        </div>
                    </div>
                    <div class="form-element-box">
                        <label for="#mobileNo" class="from-lable">Mobile number :</label>
                        <div class="form-control">
                            <input type="number" required class="from-element " name="mobileNo" id="mobileNo"
                                placeholder="Enter Mobile Number" value="{{ data.mobileNumber }}">
                        </div>
                    </div>
                    <div class="form-element-box">
                        <label for="#eamil" class="from-lable">Email :</label>
                        <div class="form-control">
                            <input type="eamil" required class="from-element " name="eamil" id="eamil"
                                placeholder="Enter Email" value="{{ data.email }}">
                        </div>
                    </div>
                    <div class="form-element-box">
                        <label for="#orderDate" class="from-lable">Email :</label>
                        <div class="form-control">
                            <input type="datetime-local" required class="from-element" name="dataTime"
                                   value="{{ data.deliveredAt.isoformat }}" id="orderDate">
                        </div>
                    </div>
                    <div class="form-element-box">
                        <label for="#numPerson" class="from-lable">Number Of Person :</label>
                        <div class="form-control">
                            <input type="number" class="from-element " name="numPerson" id="numPerson"
                                placeholder="Enter Text" required value="{{ data.numberOfPerson }}">
                        </div>
                    </div>
                </div>
                <div>
                    <a href="{% url 'inventory:order' %}" style="text-decoration: none" class="button-remove  button-style-1 cancel-btn back-btn" id="cancel-btn">
                        Cancel
                    </a>
                    <input class="button-remove button-style-1 submit-btn" style="max-width: 100%" type="submit" value="{{ heading }} And Add Items">
                </div>
            </form>
        <!--
                <div id="page2" style="display: none;">
                    <section>
                        <h1>Ordered Items</h1>
                        <div id="orderItems">
                        {% for dataItem,values in data.fields.items %}
                        <div class="item-box" data-itemid="{{ i.id }}" >
                        <h2 class="item-name">
                            {{ dataItem }}
                            <span class="bin">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" >
                                    <path d="M6 7H5v13a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V7H6zm4 12H8v-9h2v9zm6 0h-2v-9h2v9zm.618-15L15 2H9L7.382 4H3v2h18V4z">
                                    </path>
                            </svg>
                            </span>

                        </h2>
                        <ul class="ingredient-list">
                            {% for it in values %}
                                {% for k,v in it.items %}
                                    <li><label>{{ k }}</label> : <span>{{ v }}</span>  Kg </li>
                                {% endfor %}
                            {% endfor %}

                        </ul>
                        <button class="button-remove button-style-1 edit-btn " type="button" role="button" id="editeBtn" > Edit </button>
                    </div>
                    {% endfor %}

                        </div>

                    </section>
                    <section class="section2" id="item-list-box">
                        <h1>Available Items</h1>
                        <div class="toolbox2" id="toolbox">
                            <div class="search-bar">
                                <div class="form-element-box">
                                    <div class="form-control">
                                        <input type="text" class="from-element search-input"
                                            placeholder="Search Element">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            {% for i in ItemList %}
                                <div class="suggetion-list-item">
                                    <p class="text" data-itemid="{{ i.id }}" data-queryItem="item_one">{{ i.name }}
                                    </p>
                                    <button class="add button-remove">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                            <path d="M15 2.013H9V9H2v6h7v6.987h6V15h7V9h-7z"></path>
                                        </svg>
                                    </button>
                                </div>
                            {% endfor %}
                        </div>
                    </section>
                    <section class="section2" style="display: none;" id="add-item-form">
                        <h1 id="editFromHeading">Item Name</h1>
                        <div id="ingredient-list-from">

                        </div>
                        <button class="button-remove button-style-1 cancel-btn" id="closeEditBtn"> Cancel</button>
                        <button class="button-remove button-style-1" id="add" type="button"> Add</button>

                    </section>

                </div>
                -->
        </section>
    </div>
{% endblock %}
{% block scripts %}

    <script src="{% static 'js/orderScript.js' %}"></script>
    <script>
        let dT = "{{ data.deliveredAt.isoformat }}".substr(0,16);
        console.log(dT);
        if(dT != ""){
            document.getElementById("orderDate").value = dT;
        }
        else{
            console.log("Else Part");
        }
    </script>

{% endblock %}