{% extends 'template.html' %}
{% load static %}
{% block heading %}
    {{ heading }} Order
{% endblock %}
{% block Main %}

    <div id="edit-view">
        <section class="single-container">
            <form action="{% url 'inventory:orderNewCreate'  %}" autocomplete="off" method="POST">
                {% csrf_token %}
                <input type="number" value="{{ orderID }}" name="orderID" style="display:none;">
                <div id="page1">
                    <div class="form-element-box">
                        <label for="#name" class="from-lable">Name :</label>
                        <div class="form-control">
                            <input type="text" autocomplete="off" required class="from-element " name="name" id="name"
                                placeholder="Enter Name" value="{{ data.name }}">
                        </div>
                    </div>
                    <div class="form-element-box">
                        <label for="#address" class="from-lable">Address :</label>
                        <div class="form-control">
                            <textarea name="address" id="address" rows="5" placeholder="Enter Address"
                                class="from-element" >{{ data.address }}
                            </textarea>
                        </div>
                    </div>
                    <div class="form-element-box">
                        <label for="#mobileNo" class="from-lable">Mobile number :</label>
                        <div class="form-control">
                            <input type="number" required class="from-element " name="mobileNo" id="mobileNo"
                                placeholder="Enter Mobile Number" value="{{ data.mobileNumber }}">
                        </div>
                    </div>
                    <div class="form-element-box">
                        <label for="#eamil" class="from-lable">Email :</label>
                        <div class="form-control">
                            <input type="eamil" required class="from-element " name="eamil" id="eamil"
                                placeholder="Enter Email" value="{{ data.email }}">
                        </div>
                    </div>
                    <div class="form-element-box">
                        <label for="#orderDate" class="from-lable">Order Date :</label>
                        <div class="form-control">
                            <input type="datetime-local" required class="from-element" name="dataTime"
                                   value="{{ data.deliveryDate.isoformat }}" id="orderDate">
                        </div>
                    </div>
                    <div class="form-element-box">
                        <label for="#numPerson" class="from-lable">Number Of Person :</label>
                        <div class="form-control">
                            <input type="number" class="from-element " name="numPerson" id="numPerson"
                                placeholder="Enter Text" required value="{{ data.numberOfPerson }}">
                        </div>
                    </div>
                </div>
                <div>
                    <button role="button" type="button" onclick="back()" style="text-decoration: none" class="button-remove  button-style-1 cancel-btn back-btn" id="cancel-btn">
                        Cancel
                    </button>
                    <input class="button-remove button-style-1 submit-btn" style="max-width: 100%" type="submit" value="{{ heading }} And Add Items">
                </div>
            </form>

        </section>
    </div>
{% endblock %}
{% block scripts %}

    <script src="{% static 'js/orderScript.js' %}"></script>
    <script>
        let dT = "{{ data.deliveryDate.isoformat }}".substr(0,16);
        console.log(dT);
        if(dT != ""){
            document.getElementById("orderDate").defaultValue = dT;
        }
        else{
            console.log("Else Part");
        }
        function back(){
            window.history.back();
        }
    </script>

{% endblock %}