{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta charset="US-ASCII">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Layout</title>
    <link rel="stylesheet" href="{% static 'css/clienPDF.css' %}" >
    <link rel="stylesheet" href="{% static 'js/pageprofile.js' %}" >
</head>

<body>
    <div class="shree-div">
        શ્રી૧<span></span>
    </div>
    <header>
        <span>શ્રી જય જલારામ</span>
        <span>શ્રીગણેશાયનમઃ </span>
        <span>શ્રી જયબાપાસીતારામ</span>
    </header>
    <main   >
        <div class="logo-img-div">
            <img src="{% static 'img/NANVIN_BHAI_MANU_PACAKGES.png' %}" alt="">
        </div>

        <div class="wrapper-class">
            <!-- client Detail Table -->
            <table class="client-detail-table">
                <tr>
                    <td>Event Data :</td>
                    <td>{{ orderDetail.deliveryDate.date }}</td>
                </tr>
                <tr>
                    <td>Client Name : </td>
                    <td>{{ orderDetail.name }}</td>
                </tr>
                <tr>
                    <td>Venue :</td>
                    <td>{{ orderDetail.address }}</td>
                </tr>
                <tr>
                    <td>NO. Of Persons : </td>
                    <td>{{ orderDetail.numberOfPerson }}</td>
                </tr>
            </table>

            <h1 class="timing-title">
                {% if time %}
                    Lunch
                {% else %}
                    Dinner
                {% endif %}
            Items
            </h1>

            <div class="itemlist-box">
                <table>

                    {% for key,value in orderdata.items %}
                        <tr>
                            <td width="300">{{ key }}</td>
                            <td>
                                <ol>
                                    {% for i in value %}
                                        <li> {{ i }}</li>
                                    {% endfor %}
                                </ol>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
    {#            {% for dataindex,value in orderdata.items %}#}
    {#                <li>{{ value}}</li>#}
    {#            {% endfor %}#}
            </div>

        <h1>Extra Charges</h1>
        <div>
            <table class="extra_charge_table">
                <tr>
                    <th></th>
                    <th>No. </th>
                </tr>
                <tr>
                    <td>P.R.O</td>
                    <td width="200"></td>
                </tr>
                <tr>
                    <td>Bombay Boys</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Decoration</td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>

    </main>

    <button class="printBtn" onclick="printPDF()"> Print</button>
</body>
<script>
    function printPDF(){
        {#document.querySelector("button").style.display = 'none';#}
        print();
    }
    /*
    document.addEventListener("DOMContentLoaded",()=>{
        document.querySelector("button").style.display = 'none';
        print();
    })
     */
</script>
</html>